<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="moduleCreator" xsi:type="object">VishalMehta\ModuleCreator\Console\CreateModule</item>
            </argument>
            <argument name="commands" xsi:type="array">
                <item name="moduleCreatorShell" xsi:type="object">VishalMehta\ModuleCreator\Console\ModuleCreator</item>
            </argument>
        </arguments>
    </type>
</config>
